#login-main, app-image, app-login-form {
    height: 100%;
}

app-image, app-login-form {
    padding: 0;
}

app-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}